$d-list:320px,360px,375px,384px,412px,414px,768px,600px,800px,510px,1600px,1440px,640px;
html{
    font-size: 100px;
}
body{
    font-size: 80px;
   
    position: relative;
    overflow: hidden;
   
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration:none;
}
ul,li{
    list-style: none;
}
@mixin center{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
@mixin top-bottom{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}
$design-size:750px;
@each $w in $d-list {
    @media screen and (min-width:#{$w}){
        html{
            font-size:100px * $w / $design-size;
        }
    }
}
.one1{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
     background:url(../images/7.jpg)no-repeat;
   
     background-size: cover;
       

}

    .header{
        width: 100%;
        height: 2.7rem;
        background:#000;
//      opacity: 0.5;
       
        .head1{
            width: 100%;
            height: 2rem;
            position: relative;
            border-bottom:1px solid #fff;
            .head2{
                width:1.5rem;
                height:1rem;
                @include top-bottom;
                left: 0.8rem;
               
                border-radius:0.3rem ;
                background: url(../images/1.png) no-repeat;
                background-size:0.9rem 0.9rem;
                background-position:0.2rem ;
                
            }
            .head3{
                width:50%;
                height:1rem;
                @include center;
                left: 0;
//              border: 1px solid #000;  
                font-size: 0.8rem;
                color: red;
                text-align: center;
                a{
                  color:#fff;
                  font-size:45px;
                }
            }
            .head4{
                width:1.5rem;
                height:1rem;
                @include top-bottom;
                right:0.8rem;
             
                border-radius:0.3rem ;
                background: url(../images/2.png) no-repeat;
                background-size:0.9rem 0.9rem;
                background-position:0.3rem ;
                
            }
        }
        .head5{
            width: 100%;
            height: 1rem;
            border-bottom:1px solid #fff;
            position: relative;
            .head2{
                width:1.5rem;
                height:1rem;
                @include top-bottom;
                left: 0.8rem; 
                top:-0.2rem;            
                border-radius:0.3rem ;
                background: url(../images/jy.png) no-repeat;
                background-size:0.9rem 0.9rem;
                background-position:0.2rem ;
                
            }
            span{
                width: 50%;
//              border: 1px solid #000;
                text-align: center;
                height: 1rem;
                font-size: 0.5rem;
                line-height: 1rem;
                position: absolute;
                left:25%;
                top: 0;
                color: #fff;
            }
            .head4{
                width:1.5rem;
                height:1rem;
                @include top-bottom;
                right:0.8rem;
             
                border-radius:0.3rem ;
                background: url(../images/4.png) no-repeat;
                background-size:0.9rem 0.9rem;
                background-position:0.3rem ;
                
            }
        }
   
    }
    .center1{
        width:100%;
        height: 12.6rem;
        
        .cen1{
            width:0;
            height: 12.6rem;          
            position: relative;
            background:#eee;
            opacity: 0.2;
          
        }
    }
    .footer{
        width: 100%;
        height: 5.1rem;
        font-size: 0.5rem;
        background:#000;
      
        .foot1{
            position: relative;
            width: 100%;
            height:0.8rem;
//          border: 1px solid #000;
            
            .foot2{
                width: 1rem;
                height:1rem;
                position: absolute;
                left: 0;
                top: 0;
//              border: 1px solid #000;
            }
            .foot3{
                width:100%;
                height: 1.5rem;
//              border: 1px solid #000;
                position: absolute;
                left: 0;
                bottom: 0;
                .star{
                    width:100%;
                    height: 0.1rem;
                    background: #B2B1A5;
                    margin-top: 0.7rem; 
                    position: relative;
                }
                .star-c{
                    width: 0.3rem;
                    height: 0.3rem;
                    position: absolute;
                    left: -0.1rem;
                    top:0.6rem;
                    background:rgba(0,0,0,0.5);
                    border-radius: 50%;
                }
                .star-2{
                position: absolute;
                left: 0rem;
                top:0.7rem;
                width: 0.1rem;
                height:0.1rem;
                border-radius:1px;
                background:#ff3838 ;
             }
            }
            
            
        }
        .yl{
            position: relative;
            width: 100%;
            height:0.4rem;
          
            
           .star-t,.end-t{
                width: 1rem;
                height: 1rem;
                position: absolute;
//              border: 1px solid #000;
                
            }
            .star-t{
                width: 1.3rem;
                left: 0;
                bottom:0.05rem;
                margin-left: 0rem;
                color:#fff;
                
            }
            .end-t{
                width: 1.3rem;
                right: 0;
                bottom: 0.05rem;
                margin-right: 0rem;
                color:#fff;
            }
        }
        .foot4{
            width: 100%;
            height: 2.2rem;
//          border: 1px solid #000;
            position: relative;
            .play{
                width:2rem;
                height:2rem;
                border: 1px solid #fff;
                @include center;
                border-radius: 50%;
                background: url(../images/12.png) no-repeat;
                background-size:1.2rem 1.2rem;
                background-position:0.4rem 0.4rem ;
            }
            .play1{
                background: url(../images/zt.png) no-repeat;
                background-size:1.2rem 1.2rem;
                background-position:0.4rem 0.4rem ;
            }
            .shang{
                width:1.5rem;
                height:1.5rem;
                border: 1px solid #000;
                position: absolute;
                left:2rem;
                bottom: 0.25rem;
                border-radius: 50%;
                background: url(../images/shang.png) no-repeat;
                background-size:1rem 1rem;
                background-position:0.25rem 0.25rem ;
            }
            .xia{
                width:1.5rem;
                height:1.5rem;
                border: 1px solid #000;
                position: absolute;
                right: 2rem;
                bottom: 0.25rem;
                border-radius: 50%;
                background: url(../images/xia.png) no-repeat;
                background-size:1rem 1rem;
                background-position:0.25rem 0.25rem ;
            }
        }
        .foot5{
            width: 100%;
            height: 1.4rem;
//          border: 1px solid #000;
            .ft5{
                width: 1.4rem;
                height: 1.4rem;
//              border: 1px solid #000;
                float: left;
                margin-left: 0.75rem;
                
            }
            .ft5:nth-of-type(1){
                background: url(../images/6.png) no-repeat;
                background-size:1rem 1rem;
                background-position:0.2rem 0.2rem ;
            }
            .ft5:nth-of-type(2){
                background: url(../images/lp.png) no-repeat;
                background-size:1rem 1rem;
                background-position:0.2rem 0.2rem ;
            }
            .ft5:nth-of-type(3){
                background: url(../images/xz.png) no-repeat;
                background-size:1rem 1rem;
                background-position:0.2rem 0.2rem ;
            }
            .ft5:nth-of-type(4){
                background: url(../images/dk.png) no-repeat;
                background-size:1rem 1rem;
                background-position:0.2rem 0.2rem ;
            }
            .ft5:nth-of-type(5){
                background: url(../images/list.png) no-repeat;
                background-size:1rem 1rem;
                background-position:0.2rem 0.2rem ;
            }
        }
    }

.one{
    width:100%;
    height:20.4rem;
    position:absolute;
    left:0;
    top: 0;
    background:#F2F4F5;
    z-index: 10;
    display: none;
    background-size: cover;
    .header{
        height: 6rem;
        background:#fff;
        .head1{
            background: #CE3D3E;
            float: left;
            .head2{
                background: url(../images/sousuo.png) no-repeat;
                background-size:0.9rem 0.9rem;
                background-position:0.2rem ;
                border: 0;
            }
            .head3{
                span{
                    color: #fff;
                    font-size:55px;
                }
            }
            .head4{
                background: url(../images/zuo.png) no-repeat;
                background-size:0.9rem 0.9rem;
                background-position:0.3rem ;
                border: 0;
            }
        }
        .head5{
            width: 100%;
            height: 1.2rem;
            .head6{
                width: 100%;
                height: 1.2rem;
                  .li{
                    width:25%;
                    height: 1.2rem;
                    text-align: center;
                    line-height: 1.2rem; 
                    float: left;          
                    color:#000;
                    font-size:40px
                      
                  }
            }
            .tj{
                margin-top: 1.2rem;
                padding-right:0.3rem;
                width:100%;
                height:1.2rem;
                float:left;
                box-sizing: border-box;
            div:nth-of-type(1){
                float: left;
                font-size:0.6rem;
                color:#CE3D3E;
                line-height:1.2rem;
                padding-left: 1rem;
                background: url(../images/tuijian.png) no-repeat;
                background-size:0.6rem 0.6rem;
                background-position:0.3rem 0.3rem;
            }
             div:nth-of-type(2){
                 float: right;
                font-size: 0.6rem;
                color:#CE3D3E;
                margin-left: 1rem;
                line-height:1.2rem;
                padding-right: 1rem;
                background: url(../images/zuojian.png) no-repeat;
                background-size:0.6rem 0.6rem;
                background-position:1.2rem 0.3rem;
            }
         
        }
        }
        
    }
}


.playlist{
    position: fixed;
    bottom: 0;
    z-index: 10;
    background: #fff;
    width: 100%;
    height:6rem;
    display: none;
    overflow: scroll;
    .plays{
        width: 100%;
        height: 1.1rem;
        line-height: 1.1rem;
        box-sizing: border-box;
        text-align: center;
       
        span:nth-of-type(1){
            font-size:0.6rem;
            color:#111111;
            i{
                font-style: normal;
            }
        }
         span:nth-of-type(2){
             float: right;
             color:#333;
             font-size:0.6rem;
             margin-right: 0.4rem;
         }
    }
    ul{
        width: 100%;
        height: auto;
        overflow: hidden;
        padding-left: 0.35rem;
        box-sizing: border-box;
        li{
            width: 100%;
            height: 0.94rem;
            border-bottom: 1px solid #ededed;
            color:#7c7c7c;
            line-height: 0.94rem;
            font-size: 0.6rem;
            a{
           font-family: "iconfont";
            font-size: 0.36rem;
            color:#FF3838;
            display: none;
            margin-right: 0.2rem;
             }
            div:nth-of-type(1){
                font-size: 0.3rem;
                color:#191919;
            }
             div:nth-of-type(2){
                font-size: 0.24rem;
            }
             div:nth-of-type(3){
                font-size: 0.24rem;
            }
             div:nth-of-type(4){
                  font-size: 0.24rem;
                  float: right;
                  font-family: "iconfont";
                  margin-right: 0.4rem;
                
            }
        }
        li span{
            margin-left: 0.5rem;
        }
        li.active{   
            span{
                font-size: 0.6rem;
                color:#FF3838;
                margin-left: 0.5rem;
            }
            a{
                display: inline-block;
            }
        }
    }
    
}

.center{
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    background: #F2F4F5;
    .box2{
        width: 100%;
        height:10rem;
        overflow: hidden;
        .boxs{
            width:2.5rem;
            height:2.5rem;
            float: left;
            border: 1px solid #000;
            margin-left: 8%;
            border-radius: 10%;
            padding-right: 0.25rem;
            box-sizing: border-box;
            overflow: hidden;
            margin-top: 1rem;
            .img1{
                width: 100%;
                height: 2.2rem;
                float: left;
                overflow: hidden;
                background:url(../images/1.jpg) ;
                background-size: cover;
                background-repeat:no-repeat ;
                background-position:center center;
            }
            
             p{
                    width: 100%;
                    height: 1rem;
                    color:#333;
                    font-size:0.24rem;
                    line-height: 0.8rem;
                    float: left;
                    text-align: center;
                }
        }
        .boxs:nth-of-type(2){
            .img1{
                background:url(../images/.jpg) ;
                background-size: cover;
             }
           }
           .boxs:nth-of-type(3){
            .img1{
                background:url(../images/.jpg) ;
                background-size: cover;
                
             }
           }
            .boxs:nth-of-type(4){
            .img1{
                background-size: cover;
                background:url(../images/.jpg) ;
             }
           }
            .boxs:nth-of-type(5){
            .img1{
                background-size: cover;
                background:url(../images/.jpg) ;
             }
           }
            .boxs:nth-of-type(6){
            .img1{
                background-size: cover;
                background:url(../images/.jpg) ;
             }
           }
    }
}
.footer{
    .songlist{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-left: 0.3rem;
    box-sizing: border-box;
    margin-top: 2.4rem;
    background: #f2f4f5;
    overflow: scroll;
    li{
        width: 100%;
        float: left;
        height: 1.15rem;
        border-bottom: 0.02rem solid #e2e4e5;
        p{
            width:auto;
            font-size: 0.3rem;
            color:#171717;
            line-height: 0.65rem;
        }
        span{
            font-size: 0.6rem;
            color:#9b9b9b;
            line-height: 1.15rem;
            margin-left: 1rem;
        }
        .iphone{
            line-height: 0.35rem;
            font-family: "iconfont";
        }
        .set{
            float: right;
            margin-right: 0.5rem;
           font-family: "iconfont";
        }
    }
    li.active{
        p,span,.iphone{
            text-align: 1.15rem;
            font-size: 0.6rem;
            color:#FF3838;
        }
    }
}
}
.foot{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background: #fff;
    .tu{
        width: 1.5rem;
        height: 1.5rem;
        overflow: hidden;
        margin-top: 0.08rem;
        margin-left: 0.15rem;
        float: left;
       
        img{
            width:100%;
            height: auto;
            min-height: 100%;
        }
      
    }
     .content{
            float: left;
            margin-left: 0.2rem;
            p:first-of-type{
                font-size: 0.6rem;
                color:#171717;
                line-height: 2rem;
            }
            p:nth-of-type(2){
                 font-size: 0.6rem;
                  color:#717171;
                  line-height: 2rem;
            }
        }
      span{
            font-family: "iconfont";
            color:#ce3d3e;
            float: right;
            margin-right: 0.45rem;
            line-height: 2rem;
            font-size:0.6rem ;
        }
        span:first-of-type{
            margin-right: 0.3rem;
            line-height: 2rem;
        }
        .play{
             font-size:0.64rem ;
        }
        
}
.foott{
    margin-top: -2rem;
}
.delete{
    width: 0.6rem;
    height: 0.6rem;
    float:right;
    margin-right: 0.6rem;
    background: url(../images/10.png) no-repeat;
    background-size: 0.6rem 0.6rem;
}

